.acerca-de {
    padding-top: 1rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: #FFFFFF;
    color: #86868B;
    padding-bottom: 1rem;
    color: #86868B;
    box-shadow: 1px 3px 3px #999;
}

.titulo {
    border-bottom: 0.5rem;
    padding-left: 0.5rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.89);
    text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.589);
    box-shadow: 1px 1px 1px #999;
    font-size: 0.2rem;
    display: flex;
}

.acerca {
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn-edit {
    font-size: 1.2rem;
    margin: 0 0 0 auto;
    padding-right: 1rem;
    display: flex;
}