.acerca-de {
    padding-top: 1rem;
    width: 95%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: #FFFFFF;
    color: #86868B;
    padding-bottom: 1rem;
    color: #86868B;
    box-shadow: 1px 3px 3px #999;
}

.titulo {
    border-bottom: 0.5rem;
    padding-left: 0.5rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.89);
    text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.589);
    box-shadow: 1px 1px 1px #999;
    display: flex;

}

.acerca {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
}

.btn-add {
    font-size: 1.2rem !important;
    margin: 0 0 0 auto !important;
    border: none;
    padding-right: 0rem;
    display: flex;
    background-color: white !important;
    margin-right: 1rem;
}

.btn-add:hover {
    will-change: transform;
    transform: translateY(-2px);
    color: crimson;
}

.btn-edit {
    border: none;
    background-color: white !important;


}

.btn-edit:hover {
    will-change: transform;
    transform: translateY(-2px);
    color: crimson;
}

.btn-bio {
    display: flex;
    justify-content: flex-end !important;
    margin-left: auto;
    padding-right: 1rem;

}

.btn-edit>i.fa-solid.fa-pen-to-square {
    font-size: 19.2px !important;
}

.form {
    background-color: rgb(13, 0, 29);
    margin: auto;
    width: 70%;
    max-width: 26%;
    box-shadow: azure;
    text-align: center;
    border-radius: 3%;
}

.name {
    font-weight: 40%;
    color: rgb(2, 2, 2);
    padding-top: 2rem;

}

.contenedor {

    display: grid;
    gap: 2.5rem;
}

.campos {
    position: relative;
    color: white;
}

.input {
    width: 80%;
    margin: 0 auto;
    background: none;
    border: none;
    font-size: 1rem;
    color: rgb(5, 5, 5);
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px rgb(0, 0, 0);
}

.label {
    color: rgb(2, 2, 2);
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.input::placeholder {
    color: rgb(0, 0, 0);
}


.btn {
    border-color: rgba(0, 0, 0, 0.363);
}

.btn-add .btn:hover {
    color: crimson !important;
}

.btn-delete {
    border: none;

    background-color: white;

}

.btn-delete:hover {
    transform: translateY(-2px);
    color: crimson;

}

.btn-lg {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}